<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <gazebo>
        <plugin name = "$(arg namespace)_differential_drive" filename="libgazebo_ros_diff_drive.so">

            <ros>
                <namespace>$(arg namespace)</namespace>
            </ros>
            <left_joint>$(arg namespace)/left_wheel_joint</left_joint>
            <right_joint>$(arg namespace)/right_wheel_joint</right_joint>
            <wheel_separation>0.265</wheel_separation>
            <wheel_diameter>0.065</wheel_diameter>

            <max_wheel_torque>200</max_wheel_torque>
            <max_wheel_acceleration>10.0</max_wheel_acceleration>
            
            <odometry_frame>$(arg namespace)/odom</odometry_frame>
            <robot_base_frame>$(arg namespace)/base_link</robot_base_frame>
            <publish_odom>true</publish_odom>
            <publish_odom_tf>true</publish_odom_tf>
            <publish_wheel_tf>true</publish_wheel_tf>
        </plugin>
    </gazebo>

</robot>